{{#if error}}
<div role="alert" aria-live="assertive" class="flash-error">
    {{ error }}
</div>
{{/if}}
{{#if success}}
<div role="status" aria-live="polite" class="flash-success">
    {{ success }}
</div>
{{/if}}
