<!-- Sidebar Toggle Button -->
<button class="sidebar-toggle" id="sidebarToggle" aria-label="Toggle menu">
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
    <span class="hamburger-line"></span>
</button>

<!-- Sidebar Overlay -->
<div class="sidebar-overlay" id="sidebarOverlay"></div>

<!-- Sidebar Navigation -->
<nav class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h1>TaftBites</h1>
        <p class="tagline">Discover restaurants near DLSU</p>
    </div>
    <ul class="sidebar-menu" id="navMenu">
        <li><a href="/"><img src="/icons/house.png" class="menu-icon" alt=""> Home</a></li>
        <li><a href="/establishments"><img src="/icons/utensils.png" class="menu-icon" alt=""> Establishments</a></li>
        <li><a href="/about"><img src="/icons/question-sign.png" class="menu-icon" alt=""> About</a></li>
        {{#if isLoggedIn}}
            <li><a href="/users/{{ currentUserId }}"><img src="/icons/user.png" class="menu-icon" alt=""> Profile</a></li>
            {{#if isAdmin}}
            <li><a href="/admin/dashboard"><img src="/icons/utensils.png" class="menu-icon" alt=""> Admin Dashboard</a></li>
            {{/if}}
            <li><a href="/users/logout" id="logoutBtn"><img src="/icons/login.png" class="menu-icon" alt=""> Logout</a></li>
        {{else}}
            <li><a href="/users/register"><img src="/icons/sign up.png" class="menu-icon" alt=""> Sign Up</a></li>
            <li><a href="/users/login" id="logoutBtn"><img src="/icons/login.png" class="menu-icon" alt=""> Login</a></li>
        {{/if}}
    </ul>
</nav>