<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - TaftBites</title>
    <link rel="stylesheet" href="/css/base.css">
    {{#if extraCSS}}
        <link rel="stylesheet" href="/css/{{ extraCSS }}">
    {{/if}}
    {{#if extraCSS2}}
        <link rel="stylesheet" href="/css/{{ extraCSS2 }}">
    {{/if}}
</head>
<body>
    {{> sidebar}}

    {{{ body }}}

    {{> footer}}

    <script src="/js/sidebar.js"></script>
</body>
</html>